<div class="card">
    <div class="card-top card-cyan">
        <h5 class="card__title">Color Wheel</h5>
    </div>
    <div class="card-bottom">
        <p class="card__subtitle">Go crazy with this color wheel tool from Adobe. Endless possibilities.</p>
        <div class="card__button-area">
            <button class="card__button button button-cyan">
                <% for (let i = 0; i < urlLinks.length; i ++) { %> <% if (urlLinks[i].id === 'zLa0uro') { %>
                <a class="card__button-link" href="<%=urlLinks[i].link %>" target="_blank">Go there</a>
                <% } %> <%} %>
            </button>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-top card-cyan">
        <h5 class="card__title">Color Space</h5>
    </div>
    <div class="card-bottom">
        <p class="card__subtitle">Perfect place to generate amazing color palettes. Just enter a color and go!</p>
        <div class="card__button-area">
            <button class="card__button button button-cyan">
                <% for (let i = 0; i < urlLinks.length; i ++) { %> <% if (urlLinks[i].id === 'HV-5_Ms') { %>
                <a class="card__button-link" href="<%=urlLinks[i].link %>" target="_blank">Go there</a>
                <% } %> <%} %>
            </button>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-top card-cyan">
        <h5 class="card__title">Huemint</h5>
    </div>
    <div class="card-bottom">
        <p class="card__subtitle">
            Huemint uses machine learning to create unique color schemes for your brand, website or graphic.
        </p>
        <div class="card__button-area">
            <button class="card__button button button-cyan">
                <% for (let i = 0; i < urlLinks.length; i ++) { %> <% if (urlLinks[i].id === '_StRpaq') { %>
                <a class="card__button-link" href="<%=urlLinks[i].link %>" target="_blank">Go there</a>
                <% } %> <%} %>
            </button>
        </div>
    </div>
</div>
