<div class="card-1 card">
    <div class="card-1-top card-yellow">
        <h5 class="card-1__title card__title">Google Fonts</h5>
    </div>
    <div class="card-1-bottom">
        <p class="card-1__subtitle card__subtitle">
            Very large selection of free fonts from Google. This is always my first choice.
        </p>
        <div class="card-1__button-area button-area">
            <button class="card-1__button button card__button button-yellow">
                <a class="card__button-link" href="<%=urlLinks.Google_Fonts %>" target="blank">go</a>
            </button>
        </div>
    </div>
</div>

<div class="card-1 card">
    <div class="card-1-top card-yellow">
        <h5 class="card-1__title card__title">TypeSpiration</h5>
    </div>
    <div class="card-1-bottom">
        <p class="card-1__subtitle card__subtitle">
            Inspirational font combinations and color palettes free to use in your own designs.
        </p>
        <div class="card-1__button-area button-area">
            <button class="card-1__button button card__button button-yellow">
                <a class="card__button-link" href="<%=urlLinks.Fonts_Typespiration %>" target="blank">go</a>
            </button>
        </div>
    </div>
</div>

<div class="card-1 card">
    <div class="card-1-top card-yellow">
        <h5 class="card-1__title card__title">Fonts in Use</h5>
    </div>
    <div class="card-1-bottom">
        <p class="card-1__subtitle card__subtitle">
            See how different fonts look like in a real project like books or posters.
        </p>
        <div class="card-1__button-area button-area">
            <button class="card-1__button button card__button button-yellow">
                <a class="card__button-link" href="<%=urlLinks.Fonts_In_Use %>" target="blank">go</a>
            </button>
        </div>
    </div>
</div>
