<div class="card">
    <div class="card-top card-blue">
        <h5 class="card__title">Icon Scout</h5>
    </div>
    <div class="card-bottom">
        <p class="card__subtitle">My favorite source for icons that also has a large selection of free animations.</p>
        <div class="card__button-area">
            <button class="card__button button button-blue">
                <% for (let i = 0; i < urlLinks.length; i ++) { %> <% if (urlLinks[i].name === 'Icon_Scout') { %>
                <a class="card__button-link" href="<%=urlLinks[i].link %>" target="blank">Go there</a>
                <% } %> <%} %>
            </button>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-top card-blue">
        <h5 class="card__title">Endless Icons</h5>
    </div>
    <div class="card-bottom">
        <p class="card__subtitle">Another great place with many free and premium icons to download and use.</p>
        <div class="card__button-area">
            <button class="card__button button button-blue">
                <% for (let i = 0; i < urlLinks.length; i ++) { %> <% if (urlLinks[i].name === 'Endless_Icons') { %>
                <a class="card__button-link" href="<%=urlLinks[i].link %>" target="blank">Go there</a>
                <% } %> <%} %>
            </button>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-top card-blue">
        <h5 class="card__title">Icons DB</h5>
    </div>
    <div class="card-bottom">
        <p class="card__subtitle">
            This website let`s you search icons by color. Large selection of all icons imaginable.
        </p>
        <div class="card__button-area">
            <button class="card__button button button-blue">
                <% for (let i = 0; i < urlLinks.length; i ++) { %> <% if (urlLinks[i].name === 'IconsDB') { %>
                <a class="card__button-link" href="<%=urlLinks[i].link %>" target="blank">Go there</a>
                <% } %> <%} %>
            </button>
        </div>
    </div>
</div>
