<div class="card">
    <div class="card-top card-blue">
        <h5 class="card__title">Humaaans</h5>
    </div>
    <div class="card-bottom">
        <p class="card__subtitle">Mix-&-match illustrations of people with a design library.</p>
        <div class="card__button-area">
            <button class="card__button button button-blue">
                <% for (let i = 0; i < urlLinks.length; i ++) { %> <% if (urlLinks[i].name === 'Humaaans') { %>
                <a class="card__button-link" href="<%=urlLinks[i].link %>" target="blank">Go there</a>
                <% } %> <%} %>
            </button>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-top card-blue">
        <h5 class="card__title">unDraw</h5>
    </div>
    <div class="card-bottom">
        <p class="card__subtitle">Use the on-the-fly color image generation to match your brand identity..</p>
        <div class="card__button-area">
            <button class="card__button button button-blue">
                <% for (let i = 0; i < urlLinks.length; i ++) { %> <% if (urlLinks[i].name === 'unDraw') { %>
                <a class="card__button-link" href="<%=urlLinks[i].link %>" target="blank">Go there</a>
                <% } %> <%} %>
            </button>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-top card-blue">
        <h5 class="card__title">Ouch</h5>
    </div>
    <div class="card-bottom">
        <p class="card__subtitle">
            Find illustrations to enhance your projects and bring visual harmony into the world.
        </p>
        <div class="card__button-area">
            <button class="card__button button button-blue">
                <% for (let i = 0; i < urlLinks.length; i ++) { %> <% if (urlLinks[i].name === 'Ouch') { %>
                <a class="card__button-link" href="<%=urlLinks[i].link %>" target="blank">Go there</a>
                <% } %> <%} %>
            </button>
        </div>
    </div>
</div>
