<div class="card">
    <div class="card-top card-cyan">
        <h5 class="card__title">Unsplash</h5>
    </div>
    <div class="card-bottom">
        <p class="card__subtitle">Beautiful, free images and photos you can download and use for any project.</p>
        <div class="card__button-area">
            <button class="card__button button button-cyan">
                <% for (let i = 0; i < urlLinks.length; i ++) { %> <% if (urlLinks[i].name === 'Unsplash') { %>
                <a class="card__button-link" href="<%=urlLinks[i].link %>" target="blank">Go there</a>
                <% } %> <%} %>
            </button>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-top card-cyan">
        <h5 class="card__title">Pexels</h5>
    </div>
    <div class="card-bottom">
        <p class="card__subtitle">Another amazing website with tons of free and high quality images.</p>
        <div class="card__button-area">
            <button class="card__button button button-cyan">
                <% for (let i = 0; i < urlLinks.length; i ++) { %> <% if (urlLinks[i].name === 'Pexels') { %>
                <a class="card__button-link" href="<%=urlLinks[i].link %>" target="blank">Go there</a>
                <% } %> <%} %>
            </button>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-top card-cyan">
        <h5 class="card__title">Clean PNG</h5>
    </div>
    <div class="card-bottom">
        <p class="card__subtitle">Great selection of free and clean PNG images for your projects.</p>
        <div class="card__button-area">
            <button class="card__button button button-cyan">
                <% for (let i = 0; i < urlLinks.length; i ++) { %> <% if (urlLinks[i].name === 'CleanPNG') { %>
                <a class="card__button-link" href="<%=urlLinks[i].link %>" target="blank">Go there</a>
                <% } %> <%} %>
            </button>
        </div>
    </div>
</div>
