/* PRIMARY COLORS */
$color-dark-blue: rgb(31, 63, 109);
$color-light-blue: #00ace6;
$color-yellow: rgb(255, 203, 12);

/* CARD TOPS */
$gradient-cyan: linear-gradient(
    110.64927737041467deg,
    rgb(30, 129, 236) 5.533854166666667%,
    rgb(0, 172, 230) 96.67968749999999%
);

$gradient-yellow: linear-gradient(
    110.64927737041467deg,
    rgb(235, 162, 36) 5.533854166666667%,
    rgb(255, 203, 12) 96.67968749999999%
);

$gradient-blue: linear-gradient(
    110.64927737041467deg,
    rgb(38, 9, 96) 5.533854166666667%,
    rgb(31, 53, 109) 96.67968749999999%
);

/* BACKGROUNDS */
$card-bg-color: #ffffff;
$color-search-result-bg: rgba(0, 0, 0, 0.05);
$color-mobile-menu: rgba(30, 39, 60, 0.648);
$color-mobile-menu-hover: rgba(30, 39, 60, 0.826);
$color-mobile-jobs-links: rgba(14, 47, 92, 0.128);

$color-header: #151b22;
$color-footer: #151b22;
$color-search: #151b22;
$search-match-underline: rgba(230, 230, 230, 0.109);
$search-match-hover: rgba(22, 86, 109, 0.31);

/* SEARCHBAR BUTTON COLORS */
$color-search-btn-border: rgba(159, 247, 255, 0.199);
$color-search-btn-bg-hover: rgba(159, 247, 255, 0.178);
$color-search-links-hover: rgba(30, 39, 60, 0.8);

/* TEXT COLORS */
$text-color-white: #ffffff;
$text-color-medium-grey: #c4c4c4;
$text-color-dark-grey: #242627;
$text-color-medium-dark-grey: #5f6262;

/* BLUE LINKS HOVER */
$color-blue-link-hover: #49caf5;

/* GREYS */
$bg-color: #ffffff;
$color-grey-medium-light: #f5f5f5;
$color-grey-medium: #a0a0a0;
$color-dark-grey: #3f4343;
$color-blue-grey: #46595e;

/* ELEMENTS dividers */
$underline-color: rgba(0, 0, 0, 0.09);
$card-underline-color: rgba(0, 0, 0, 0.06);
$color-underline-white: rgba(214, 214, 214, 0.34);

/* CARDS shadow */
$shadow-color: rgba(0, 0, 0, 0.2);

/* BUTTONS outline */
$color-button-border-light: rgba(155, 155, 155, 0.5);

/* SCROLLBAR colors*/
$color-scrollbar-bg: #46595e;
$color-scrollbar-track: #46595e;
$color-scrollbar-thumb: #abb1b3;
$color-scrollbar-thumb-hover: #717779;

/* SEARCHBAR colors*/
$search-placeholder-text: #c4c4c4;
$search-inner-shadow: rgba(0, 0, 0, 0.1);

/* SEARCH RESULTS colors*/
$search-result-title: wheat;
$search-result-link: whitesmoke;
$search-result-description: grey;
