@use "./base";

//BASE GRID
.grid {
    max-width: base.$max-page-width;
    display: grid;
    grid-gap: 40px;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

//2 COLUMN GRID
.grid-2-col {
    max-width: base.$max-page-width;
    display: grid;
    grid-gap: 40px;
    align-items: center;
    grid-template-columns: 65% 35%;
}

//2 COLUMN GRID fro ABOUT section on HOME page
.grid-2-col--reverse {
    max-width: base.$max-page-width;
    display: grid;
    grid-gap: 40px;
    align-items: center;
    grid-template-columns: 40% 60%;
}

//SECTIONS BASE LAYOUT
.section {
    max-width: base.$max-page-width;
    margin: 0 auto;
}
