<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./head.ejs') %>
    </head>
    <body>
        <!-- FOOTER start-->
        <div class="footer__wave wave">
            <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%">
                <path d="M0.00,49.98 C149.99,170.00 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"></path>
            </svg>
        </div>
        <div class="footer" id="footer">
            <ul class="footer__nav">
                <li class="footer__nav__links">
                    <a href="#" class="footer__nav__links-link arrow-up">TOP</a>
                </li>
                <li class="footer__nav__links">
                    <a href="./home" class="footer__nav__links-link">HOME</a>
                </li>

                <li class="footer__nav__links">
                    <a href="./search" class="footer__nav__links-link">SEARCH</a>
                </li>
                <li class="footer__nav__links">
                    <a
                        href="https://github.com/CodeD3vil/web-dev-res.git"
                        target="_blank"
                        class="footer__nav__links-link"
                        >SOURCE CODE</a
                    >
                </li>
                <li class="footer__nav__links">
                    <a
                        href="https://www.linkedin.com/in/tomas-krajcovic-68608823b/"
                        target="_blank"
                        class="footer__nav__links-link"
                        >CONTACT ME</a
                    >
                </li>
            </ul>
            <p class="footer__disclaimer">© Copyright 2022 Designed and Coded by Tomas Krajcovic</p>
        </div>
        <!-- FOOTER end-->
    </body>
</html>
