<div class="card">
    <div class="card-top card-yellow">
        <h5 class="card__title">ColorZilla</h5>
    </div>
    <div class="card-bottom">
        <p class="card__subtitle">
            ColorZilla includes a Color Picker, Eye Dropper, Gradient Generator and many additional color tools.
        </p>
        <div class="card__button-area">
            <button class="card__button button button-yellow">
                <a class="card__button-link" href="<%=urlLinks.ColorZilla %>" target="blank">go</a>
            </button>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-top card-yellow">
        <h5 class="card__title">Fonts Ninja</h5>
    </div>
    <div class="card-bottom">
        <p class="card__subtitle">Turn on the extension on any website to discover which fonts and style were used.</p>
        <div class="card__button-area">
            <button class="card__button button button-yellow">
                <a class="card__button-link" href="<%=urlLinks.Fonts_Ninja %>" target="blank">go</a>
            </button>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-top card-yellow">
        <h5 class="card__title">Nimbus Capture</h5>
    </div>
    <div class="card-bottom">
        <p class="card__subtitle">Most likely the best screen capture extension i have ever used.</p>
        <div class="card__button-area">
            <button class="card__button button button-yellow">
                <a class="card__button-link" href="<%=urlLinks.Nimbus_Capture %>" target="blank">go</a>
            </button>
        </div>
    </div>
</div>
