<div class="card">
    <div class="card-top card-yellow">
        <h5 class="card__title">Optimizilla</h5>
    </div>
    <div class="card-bottom">
        <p class="card__subtitle">
            My favorite site to compress JPEG, PNG and GIF images with batch processing for up to 20 images.
        </p>
        <div class="card__button-area">
            <button class="card__button button button-yellow">
                <a class="card__button-link" href="<%=urlLinks.Optimizilla %>" target="blank">go</a>
            </button>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-top card-yellow">
        <h5 class="card__title">Promo Image Resizer</h5>
    </div>
    <div class="card-bottom">
        <p class="card__subtitle">
            Resize images with templates for social media sites like Facebook, Instagram or YouTube.
        </p>
        <div class="card__button-area">
            <button class="card__button button button-yellow">
                <a class="card__button-link" href="<%=urlLinks.Promo_Image_Resizer %>" target="blank">go</a>
            </button>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-top card-yellow">
        <h5 class="card__title">Resize Pixel</h5>
    </div>
    <div class="card-bottom">
        <p class="card__subtitle">
            This is a free image editor to crop, resize, flip, rotate and convert images online.
        </p>
        <div class="card__button-area">
            <button class="card__button button button-yellow">
                <a class="card__button-link" href="<%=urlLinks.Resize_Pixel %>" target="blank">go</a>
            </button>
        </div>
    </div>
</div>
