<div class="card">
    <div class="card-top card-cyan">
        <h5 class="card__title">VS Code</h5>
    </div>
    <div class="card-bottom">
        <p class="card__subtitle">My code editor of choice. Lightweight, integrated Git and with tons of extensions.</p>
        <div class="card__button-area">
            <button class="card__button button button-cyan">
                <% for (let i = 0; i < urlLinks.length; i ++) { %> <% if (urlLinks[i].name === 'VS_Code') { %>
                <a class="card__button-link" href="<%=urlLinks[i].link %>" target="blank">Go there</a>
                <% } %> <%} %>
            </button>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-top card-cyan">
        <h5 class="card__title">Figma</h5>
    </div>
    <div class="card-bottom">
        <p class="card__subtitle">
            An all-in-one design platform. Design UX, UI, collaborate, build prototypes and more.
        </p>
        <div class="card__button-area">
            <button class="card__button button button-cyan">
                <% for (let i = 0; i < urlLinks.length; i ++) { %> <% if (urlLinks[i].name === 'Figma') { %>
                <a class="card__button-link" href="<%=urlLinks[i].link %>" target="blank">Go there</a>
                <% } %> <%} %>
            </button>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-top card-cyan">
        <h5 class="card__title">Adobe Photoshop</h5>
    </div>
    <div class="card-bottom">
        <p class="card__subtitle">The king of photo editing and the only none-free resource on this website.</p>
        <div class="card__button-area">
            <button class="card__button button button-cyan">
                <% for (let i = 0; i < urlLinks.length; i ++) { %> <% if (urlLinks[i].name === 'Behance') { %>
                <a class="card__button-link" href="<%=urlLinks[i].link %>" target="blank">Go there</a>
                <% } %> <%} %>
            </button>
        </div>
    </div>
</div>
