/* PRIMARY COLORS */
/* CARD TOPS */
/* BACKGROUNDS */
/* SEARCHBAR BUTTON COLORS */
/* TEXT COLORS */
/* BLUE LINKS HOVER */
/* GREYS */
/* ELEMENTS dividers */
/* CARDS shadow */
/* BUTTONS outline */
/* SCROLLBAR colors*/
/* SEARCHBAR colors*/
/* SEARCH RESULTS colors*/
::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #abb1b3;
}
::-webkit-scrollbar-thumb:hover {
  background: #717779;
}

.feedback {
  margin: 0 auto;
  padding: 5rem 5rem 0 9rem;
}
.feedback__text {
  font-size: clamp(0.3rem, 2vw, 0.8rem);
  color: #a0a0a0;
}

.footer__wave {
  transform: translateY(2px);
  margin-top: 2rem;
  height: 10vh;
  fill: #151b22;
}

/*GLOBAL RESETS*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

li,
ul {
  list-style: none;
  text-decoration: none;
}

h1,
h2 {
  font-family: "Ubuntu", sans-serif;
}

h3,
h4,
h5,
h6 {
  font-family: "Open Sans", sans-serif;
  color: #242627;
}

h1 {
  line-height: 1.2;
  font-size: clamp(2rem, 4vw, 4rem);
}

h2 {
  font-size: clamp(1.3rem, 1.9vw, 2rem);
  font-family: "Open Sans", sans-serif;
}

h3 {
  font-size: clamp(1rem, 1.5vw, 1.3rem) !important;
  line-height: 1.6;
}

p {
  font-size: clamp(0.9rem, 0.9vw, 1.2rem);
  font-family: "Open Sans", sans-serif;
}

a {
  list-style: none;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
}

.button {
  border: 1px solid rgba(155, 155, 155, 0.5);
  border-radius: 50px;
  text-transform: uppercase;
  font-weight: 400;
  color: #5f6262;
  text-decoration: none;
  background-color: transparent;
  font-size: clamp(0.7rem, 1.6vw, 0.85rem);
  text-align: center;
  transition: all 0.4s ease-in;
}

.button a:link a:visited a:focus a:active {
  color: #242627;
}

.toTop--link {
  border-radius: 100px;
  transition: all 0.3s;
  border: 1px solid rgba(155, 155, 155, 0.5);
  padding: 0.6rem 0.9rem;
  float: right;
}
.toTop--link:hover {
  transform: translateY(-2px);
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.2);
}
.toTop--link-icon {
  margin-top: 0.2rem;
  height: 20px;
  width: 20px;
}

.card__button {
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
  text-align: center;
  font-size: clamp(0.7rem, 3vw, 0.8rem);
}
.card__button-link {
  color: #3f4343;
  font-size: clamp(0.7rem, 3vw, 0.8rem);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 30px;
  transition: all 0.4s;
}
.card__button-link:hover {
  color: #ffffff;
}

.button-area {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.button-cyan:hover {
  border: 1px solid #00ace6;
  color: #ffffff;
  background-color: #00ace6;
}

.button-yellow:hover {
  border: 1px solid #ffcb0c;
  color: #ffffff;
  background-color: #ffcb0c;
}

.button-blue:hover {
  border: 1px solid #1f3f6d;
  color: #ffffff;
  background-color: #1f3f6d;
}

.cards {
  padding-top: 2rem;
  justify-items: center;
}

.card {
  width: 100%;
  max-width: 408px;
  box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
  border-radius: 10px;
  transition: all 0.5s;
}
.card-top {
  padding: 2em 1.8em;
}
.card__title {
  height: 100%;
  color: #ffffff;
  font-size: clamp(1rem, 4vw, 1.3rem);
}
.card__subtitle {
  color: #3f4343;
  font-size: clamp(0.8rem, 3vw, 0.9rem);
  padding: 1.8em;
  color: #46595e;
  min-height: 80px;
}
.card__button-area {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.card__button-area::after {
  position: absolute;
  content: "";
  left: 5%;
  bottom: 24%;
  height: 1px;
  width: 89%;
  background-color: rgba(0, 0, 0, 0.06);
}
.card__button {
  width: 90%;
}
.card:hover {
  transform: translateY(-2px);
  box-shadow: 3px 5px 16px 1px rgba(0, 0, 0, 0.2);
}

.card-cyan {
  background-image: linear-gradient(110.6492773704deg, #1e81ec 5.5338541667%, #00ace6 96.6796875%);
}

.card-blue {
  background-image: linear-gradient(110.6492773704deg, #260960 5.5338541667%, #1f356d 96.6796875%);
}

.card-yellow {
  background-image: linear-gradient(110.6492773704deg, #eba224 5.5338541667%, #ffcb0c 96.6796875%);
}

.footer {
  width: 100%;
  position: relative;
  min-height: 15vh;
  padding: 1rem 3rem 2rem 3rem;
  background-color: #151b22;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.footer__disclaimer {
  padding-right: 3rem;
  color: #ffffff;
  font-size: clamp(0.3rem, 1.5vw, 0.7rem);
}
.footer__nav {
  margin-left: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.footer__nav__links-link {
  margin-right: 2rem;
  color: #ffffff;
  font-size: 0.8rem;
  font-weight: 200;
  transition: all 0.2s;
}
.footer__nav__links-link:hover {
  color: #c4c4c4;
}

.resources__welcome {
  max-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.resources__welcome-left {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: flex-start;
  padding: 5rem 0 2rem 4.3rem;
}
.resources__welcome__title-name {
  color: #00ace6;
}
.resources__welcome__subtitle {
  width: 90%;
  font-weight: 100;
  color: #46595e;
  padding: 2rem 0 4rem 0;
}
.resources__welcome-right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.resources__welcome__img {
  margin-top: 3rem;
  width: 79%;
}

.resources {
  padding: 2.5rem 3rem 2rem 3rem;
}
.resources__title {
  font-weight: 400;
  padding: 1.5rem 0.5rem 0.5rem 0;
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.09);
}
.resources__subtitle {
  padding: 0 0 1rem 0;
  font-weight: 300;
  color: #5f6262;
}

.policies {
  padding: 2.5rem 3rem 2rem 3rem;
}
.policies__title {
  font-weight: 400;
  padding: 1.5rem 0.5rem 0.5rem 0;
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.09);
}
.policies__subtitle {
  padding: 0 0 1rem 0;
  font-weight: 300;
  color: #5f6262;
}

.mobile-toggle {
  display: none;
}

.header-primary,
.header__nav {
  padding: 0 3rem 0 3rem;
  min-height: 10vh;
  min-height: 80px;
  margin: 0 auto;
  background-color: #151b22;
}

.header__nav {
  background-color: #151b22;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
}
.header__nav-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.header__nav-right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.header__nav__logo {
  width: 35px;
  margin-top: 0.25rem;
  margin-right: 2.3rem;
  transition: all 0.3s;
}
.header__nav__logo--link :hover {
  transform: scale(1.1);
}
.header__nav--link {
  color: #ffffff;
  font-size: 1rem;
  position: relative;
  text-transform: uppercase;
  font-weight: 200;
  margin-right: 2rem;
  padding: 0.2rem;
}
.header__nav--link::after {
  position: absolute;
  content: "";
  top: 1.7em;
  left: 0;
  right: 0;
  height: 3px;
  background: #ffffff;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform ease-in-out 400ms;
}
.header__nav--link:hover {
  transition: all 0.4s;
}
.header__nav--link:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.header-search {
  margin-right: -0.3rem;
  background-color: transparent;
  padding: 0.3em 1em;
  border: 1px solid rgba(159, 247, 255, 0.199);
  transition: all 0.3s ease-in-out;
}
.header-search:hover {
  border-radius: 18px;
  background-color: rgba(159, 247, 255, 0.178);
}
.header-search::after {
  display: none;
}

.home__welcome {
  max-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.home__welcome-left {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: flex-start;
  padding: 5rem 0 2rem 4.3rem;
}
.home__welcome__title-name {
  color: #00ace6;
}
.home__welcome__subtitle {
  width: 90%;
  font-weight: 100;
  color: #46595e;
  padding: 2rem 0 4rem 0;
}
.home__welcome-right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.home__welcome__img {
  overflow: visible;
  margin-top: 3rem;
  width: 60%;
}

.connect,
.favorites {
  padding: 2.5rem 3rem 2rem 3rem;
}
.connect__title,
.favorites__title {
  font-weight: 400;
  padding: 1.5rem 0.5rem 0.5rem 0;
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.09);
}
.connect__subtitle,
.favorites__subtitle {
  padding: 0 0 1rem 0;
  font-weight: 300;
  color: #5f6262;
}

.about {
  padding: 2.5rem 3rem 2rem 3rem;
}
.about__top-border {
  margin-bottom: 3rem;
  border-top: 1px solid rgba(0, 0, 0, 0.09);
}
.about__right {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.about__left {
  padding: 2rem 1rem 1rem 0rem;
}
.about__title {
  font-weight: 400;
  padding: 1.5rem 0.5rem 0.5rem 0;
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.09);
  border-top: none;
}
.about__subtitle {
  padding: 0 0 1rem 0;
  font-weight: 300;
  color: #5f6262;
  width: 85%;
  padding-top: 1em;
}
.about__image {
  position: relative;
  width: 100%;
  overflow: hidden;
  max-width: 350px;
  border-radius: 3px;
  box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.2);
  transition: all 1s;
}
.about__image::before {
  position: absolute;
  content: "ABC";
  background-color: black;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}

.inspiration__welcome {
  max-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.inspiration__welcome-left {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: flex-start;
  padding: 5rem 0 2rem 4.3rem;
}
.inspiration__welcome__title-name {
  color: #00ace6;
}
.inspiration__welcome__subtitle {
  width: 90%;
  font-weight: 100;
  color: #46595e;
  padding: 2rem 0 4rem 0;
}
.inspiration__welcome-right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.inspiration__welcome__img {
  margin-top: 2rem;
  width: 65%;
}

.inspiration {
  padding: 2.5rem 3rem 2rem 3rem;
}
.inspiration__title {
  font-weight: 400;
  padding: 1.5rem 0.5rem 0.5rem 0;
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.09);
}
.inspiration__subtitle {
  padding: 0 0 1rem 0;
  font-weight: 300;
  color: #5f6262;
}

body#search-page {
  background-color: #151b22;
}

.search {
  min-height: 61vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}
.search-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-color: #151b22;
}
.search__bar {
  min-width: 63%;
}
.search__bar-term {
  width: 100%;
  padding: 20px 9px 20px 50px;
  height: 20px;
  border-radius: 50px;
  outline: none;
  color: #a0a0a0;
  border: 1px solid rgba(155, 155, 155, 0.5);
}
.search__bar-term::placeholder {
  color: #c4c4c4;
}
.search__bar-term:focus {
  color: #242627;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1) inset;
}
.search__bar-element {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: relative;
  padding-top: 3rem;
  padding-bottom: 1rem;
  width: 100%;
}
.search__bar-element--icon {
  position: absolute;
  left: 15px;
}

.search__list {
  margin-top: 4rem;
}
.search__results {
  margin: 0 auto;
  width: 80%;
}
.search__result {
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  padding: 0.8rem 0;
  border-bottom: 1px solid rgba(230, 230, 230, 0.109);
  margin-bottom: 1rem;
}
.search__result-title {
  color: wheat;
}
.search__result-link {
  margin-bottom: 0.2rem;
  color: whitesmoke;
  text-align: left;
  white-space: pre-line;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;
  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.search__result-description {
  text-align: left;
  color: grey;
}

.toTop {
  display: none;
  margin-top: 2rem;
}

#footer {
  justify-self: flex-start;
}

.tools__welcome {
  max-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.tools__welcome-left {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: flex-start;
  padding: 5rem 0 2rem 4.3rem;
}
.tools__welcome__title-name {
  color: #00ace6;
}
.tools__welcome__subtitle {
  width: 90%;
  font-weight: 100;
  color: #46595e;
  padding: 2rem 0 4rem 0;
}
.tools__welcome-right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.tools__welcome__img {
  margin-top: 3rem;
  width: 70%;
}

.tools {
  padding: 1rem 2.5rem 2rem 2.5rem;
}
.tools__subtitle {
  padding: 0 0 1rem 0;
  font-weight: 300;
  color: #5f6262;
}

.username-transparent {
  opacity: 0;
}

.username-animate {
  position: absolute;
  animation: 2.5s textDown ease-in-out;
}

.gear {
  transform-origin: 49.4% 50%;
  animation: spin 150s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes textDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  40% {
    transform: translateY(6px);
  }
  60% {
    transform: translateY(-3px);
  }
  80% {
    transform: translateY(2px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/* a helper class that hides element from users but allows the screen readers to see it */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.links-color-cyan {
  color: #00ace6;
  transition: all 0.2s;
}
.links-color-cyan:hover {
  color: #49caf5;
}

.grid {
  max-width: 1400px;
  display: grid;
  grid-gap: 40px;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.grid-2-col {
  max-width: 1400px;
  display: grid;
  grid-gap: 40px;
  align-items: center;
  grid-template-columns: 65% 35%;
}

.grid-2-col--reverse {
  max-width: 1400px;
  display: grid;
  grid-gap: 40px;
  align-items: center;
  grid-template-columns: 40% 60%;
}

.section {
  max-width: 1400px;
  margin: 0 auto;
}

@media (max-width: 63em) {
  .grid {
    justify-content: center;
    gap: 30px;
  }

  .header-primary {
    width: 100vw;
    height: 80px;
    background-color: #151b22;
  }

  .navigation {
    width: 102vw;
    padding-top: 6rem;
    padding-left: 0;
    padding-right: 0;
    position: relative;
  }

  .header__nav {
    height: 11400px;
    z-index: 10;
    /* inset is a shorthand for top, right, bottom, left for positioning */
    inset: 0 0 0 25%;
    position: fixed;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    /* using min() function allows to set padding between 2 minimum values, it chooses the smaller one */
    transition: all 0.4s ease-out;
    /* by default the navigation is out of view hidden outside the page */
    transform: translateX(75%);
    background-color: rgba(30, 39, 60, 0.648);
    backdrop-filter: blur(7px);
    display: block;
    opacity: 0;
  }
  .header__nav--link {
    width: 100%;
    margin-top: 0.5rem;
    text-align: center;
    font-size: 1.5rem;
  }
  .header__nav--link:hover {
    background-color: rgba(30, 39, 60, 0.826);
  }
  .header__nav--link::after {
    display: none;
  }
  .header__nav-left {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-items: flex-start;
  }
  .header__nav-right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-items: flex-start;
  }
  .header__nav__logo {
    display: none;
  }

  /* if the data-visible attribute is true the menu will become visible by moving into the view */
  .navigation[data-visible=true] {
    transform: translateX(-25%);
    opacity: 1;
  }

  .mobile-toggle {
    cursor: pointer;
    display: block;
    position: absolute;
    z-index: 1000;
    width: 1rem;
    aspect-ratio: 1;
    top: 13px;
    right: 7%;
    border: none;
    background-color: rgba(128, 128, 128, 0.212);
    width: 50px;
    border-radius: 50%;
    position: fixed;
  }

  .hamburger-button {
    fill: whitesmoke;
    width: 24px;
    position: absolute;
    left: 0.8rem;
    top: 0.73rem;
  }

  .header-search {
    background-color: transparent;
    border: none;
  }
  .header-search:hover {
    border-radius: 0px;
  }
}
@media (max-width: 63em) {
  .home__welcome {
    grid-template-columns: 1fr;
    padding: 1rem 2rem 1rem 2rem;
    min-height: 300px;
  }
  .home__welcome-left {
    padding: 3rem 0 0 0;
  }
  .home__welcome__img {
    display: none;
  }
  .home__welcome__subtitle {
    width: 100%;
    padding-bottom: 0;
    padding-top: 1rem;
  }

  .favorites,
.connect {
    padding: 1rem 2rem 2rem 2rem;
  }
  .favorites__subtitle,
.connect__subtitle {
    width: 100%;
  }

  .about,
.grid {
    display: flex;
    flex-direction: column;
  }

  .about {
    padding: 1rem 2rem 2rem 2rem;
  }
  .about__top-border {
    margin-bottom: 1rem;
  }
  .about__content {
    grid-template-columns: 1fr;
  }
  .about__right {
    grid-row: 1;
  }
  .about__left {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .about__title {
    padding: 1rem 0 0.5rem 0;
  }
  .about__subtitle {
    padding: 0.5rem 0 1rem 0.1rem;
    width: 100%;
  }
  .about__image {
    display: block;
    max-width: 230px;
    border-radius: 50%;
  }
}
@media (max-width: 63em) {
  .resources__welcome {
    grid-template-columns: 1fr;
    padding: 1rem 2rem 1rem 2rem;
    min-height: 300px;
  }
  .resources__welcome-left {
    padding: 3rem 0 0 0;
  }
  .resources__welcome__subtitle {
    width: 100%;
    padding-bottom: 0;
    padding-top: 1rem;
  }
  .resources__welcome__img {
    display: none;
  }

  .resources {
    padding: 0 2rem 1rem 2rem;
  }
}
@media (max-width: 63em) {
  .inspiration__welcome {
    grid-template-columns: 1fr;
    padding: 1rem 2rem 1rem 2rem;
    min-height: 300px;
  }
  .inspiration__welcome-left {
    padding: 3rem 0 0 0;
  }
  .inspiration__welcome__buttons-button {
    min-width: 120px;
  }
  .inspiration__welcome__subtitle {
    width: 100%;
    padding-bottom: 1rem;
    padding-top: 1rem;
  }
  .inspiration__welcome__img {
    display: none;
  }

  .inspiration {
    padding: 0 2rem 4rem 2rem;
  }
  .inspiration__subtitle {
    padding-top: 1rem;
    width: 100%;
  }
}
@media (max-width: 63em) {
  .tools__welcome {
    grid-template-columns: 1fr;
    padding: 1rem 2rem 1rem 2rem;
    min-height: 300px;
  }
  .tools__welcome-left {
    padding: 3rem 0 0 0;
  }
  .tools__welcome__img {
    display: none;
  }
  .tools__welcome__subtitle {
    width: 100%;
    padding-bottom: 1rem;
    padding-top: 1rem;
  }

  .tools,
.grid {
    padding: 0;
    display: flex;
    flex-direction: column;
  }

  .tools {
    padding: 1rem 2rem 1rem 2rem;
  }
}
@media (max-width: 63em) {
  .search {
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
  }
  .search__bar {
    width: 76%;
    font-size: 0.4rem;
  }
  .search__bar-element {
    padding-top: 1rem;
  }

  .search__results {
    width: 100%;
  }
  .search__list {
    margin-top: 1.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    width: 100%;
  }
  .search__result {
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
    padding: 0.8rem 0;
    border-bottom: 1px solid rgba(230, 230, 230, 0.109);
    margin-bottom: 1rem;
  }
  .search__result-link {
    white-space: pre-line;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;
    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
    color: whitesmoke;
  }
  .search__result-description {
    text-align: left;
    color: gray;
  }

  .match {
    font-size: 0.8rem;
  }

  .toTop--link {
    margin-right: -1.5rem;
    border-radius: 100px;
    transition: all 0.3s;
    border: 1px solid rgba(155, 155, 155, 0.5);
    padding: 0.6rem 0.9rem;
    float: right;
  }
}
@media (max-width: 63em) {
  .footer {
    display: none;
    padding: 0.5rem 0 1.5rem 0;
  }
  .footer__wave {
    display: none;
    height: 6vh;
  }
  .footer__disclaimer {
    align-self: flex-end;
    padding-left: 2rem;
    padding-right: 0;
    margin-bottom: 0.1rem;
  }
  .footer__nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-items: flex-start;
    order: 1;
  }
  .footer__nav__links {
    width: 100%;
    text-align: right;
  }
  .footer__nav__links-link {
    font-size: 0.7rem;
    margin-bottom: 0.3rem;
  }
}
@media (max-width: 63em) {
  .cards {
    padding-top: 1rem;
    padding-bottom: 1.1rem;
  }

  .card {
    min-width: 310px;
  }
  .card__subtitle {
    min-height: 60px;
  }
}

/*# sourceMappingURL=main.css.map */
