@use "../mixins";
@use "../colors";

.footer {
    width: 100%;
    position: relative;
    padding: 1rem 3rem 2rem 3rem;
    background-color: colors.$color-footer;
    @include mixins.flexSpaceBetween(row);

    &__disclaimer {
        padding-right: 3rem;
        color: colors.$text-color-white;
        font-size: clamp(0.3rem, 1.5vw, 0.7rem);
    }

    &__nav {
        
        margin-left: 2.5rem;
        @include mixins.flexCenter(row);

        &__links {
            &-link {
                margin-right: 2rem;
                color: colors.$text-color-white;
                font-size: 0.8rem;
                font-weight: 200;
                transition: all 0.2s;

                &:hover {
                    color: colors.$text-color-medium-grey;
                }
            }
        }
    }
}
