@use "../mixins";
@use "../colors";
@use "../typography";

//MOBILE BUTTON
.mobile-toggle {
    display: none;
}

//HEADER
.header-primary,
.header__nav {
    padding: 0 3rem 0 3rem;
    min-height: 10vh;
    min-height: 80px;
    margin: 0 auto;
    background-color: colors.$color-header;
}

//HEADER NAV links
.header__nav {
    background-color: colors.$color-header;
    @include mixins.flexSpaceBetween(row);
    width: 100%;

    &-left {
        @include mixins.flexSpaceBetween(row);
    }

    &-right {
        @include mixins.flexCenter(row);
    }

    &__logo {
        width: 35px;
        margin-top: 0.25rem;
        margin-right: 2.3rem;
        transition: all 0.3s;

        &--link {
            :hover {
                transform: scale(1.1);
            }
        }
    }

    &--link {
        @include mixins.navLinksHeader;

        &::after {
            position: absolute;
            content: "";
            top: 1.7em;
            left: 0;
            right: 0;
            height: 3px;
            background: colors.$text-color-white;
            transform: scaleX(0);
            transform-origin: right;
            transition: transform ease-in-out 400ms;
        }

        &:hover {
            transition: all 0.4s;

            &::after {
                transform: scaleX(1);
                transform-origin: left;
            }
        }
    }
}

.header-search {
    margin-right: -0.3rem;
    background-color: transparent;
    padding: 0.3em 1em;
    border: 1px solid colors.$color-search-btn-border;
    transition: all 0.3s ease-in-out;

    &:hover {
        border-radius: 18px;
        background-color: colors.$color-search-btn-bg-hover;
    }

    &::after {
        display: none;
    }
}
