@use "../mixins";
@use "../colors";
@use "../typography";

//WELCOME SECTION

.home__welcome {
    @include mixins.welcomeSection;
    @include mixins.flexCenter(column);

    &-left {
        @include mixins.flexCenter(column);
        @include mixins.welcomeLeft;
    }

    &__title-name {
        color: colors.$color-light-blue;
    }

    &__subtitle {
        @include mixins.welcomeSubtitle;
    }

    &-right {
        @include mixins.flexCenter(column);
    }

    &__img {
        overflow: visible;
        margin-top: 3rem;
        width: 60%;
    }
}

//CONNECT & FAVORITES SECTION
.connect,
.favorites {
    &__title {
        @include mixins.sectionTitle;
    }
    &__subtitle {
        @include mixins.sectionSubtitle;
    }
}

.connect {
    @include mixins.sections;

    &__title {
        @include mixins.sectionTitle;
    }
}

.favorites {
    @include mixins.sections;
}

//ABOUT section
.about {
    @include mixins.sections;
    &__subtitle {
        @include mixins.sectionSubtitle;
    }

    &__title {
        @include mixins.sectionTitle;
    }

    &__image {
        max-width: 350px;
        justify-self: center;
    }
}
