@use "../mixins";
@use "../colors";
@use "../typography";

//SUPPORT WELCOME SECTIOM
.inspiration__welcome {
    @include mixins.welcomeSection;
    @include mixins.flexCenter(column);

    &-left {
        @include mixins.flexCenter(column);
        @include mixins.welcomeLeft;
    }

    &__title-name {
        color: colors.$color-light-blue;
    }

    &__subtitle {
        @include mixins.welcomeSubtitle;
    }

    &-right {
        @include mixins.flexCenter(column);
    }

    &__img {
        margin-top: 2rem;
        width: 65%;
    }
}

//CONTACTS
.inspiration {
    @include mixins.sections;

    &__title {
        @include mixins.sectionTitle;
    }

    &__subtitle {
        @include mixins.sectionSubtitle;
    }
}
