@use "../mixins";
@use "../colors";
@use "../typography";

//SEARCH PAGE
body#search-page {
    background-color: colors.$color-search;
}

//SERACH RESULTS SECTION links
.search {
    min-height: 61vh;
    @include mixins.flexCenter(column);
    justify-content: flex-start;
    width: 100%;
    &__terms {
        width: 80%;

        &-text {
            text-align: center;
            color: colors.$text-color-medium-dark-grey;
            font-size: 0.8rem;
            margin-top: 2rem;

            &--red {
                color: colors.$search-term-red;
            }

            &--green {
                color: colors.$search-term-green;
            }

            &--blue {
                color: colors.$search-term-blue;
            }

            &--purple {
                color: colors.$search-term-purple;
            }
        }
    }

    &-bg {
        @include mixins.flexCenter(column);
        width: 100%;
        background-color: colors.$color-search;
    }

    &__bar {
        min-width: 63%;

        &-term {
            width: 100%;
            padding: 20px 9px 20px 50px;
            height: 20px;
            border-radius: 50px;
            outline: none;
            color: colors.$color-grey-medium;
            border: 1px solid colors.$color-button-border-light;

            &::placeholder {
                color: colors.$search-placeholder-text;
            }

            &:focus {
                color: colors.$text-color-dark-grey;
                box-shadow: 0 0 5px colors.$search-inner-shadow inset;
            }
        }
        &-element {
            @include mixins.flexCenter(row);
            position: relative;
            margin-top: 0.3rem;
            width: 100%;

            &--icon {
                position: absolute;
                left: 15px;
            }
        }
    }
    &__list {
        margin-top: 3rem;
    }

    &__results {
        margin: 0 auto;
        width: 80%;
    }

    &__result {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        padding: 0.8rem 0 0 0;
        border-bottom: 1px solid colors.$search-match-underline;
        margin-bottom: 1rem;

        &-title {
            color: colors.$search-result-title;
            transition: all 0.3s;

            &:hover {
                color: colors.$search-result-title-hover;
            }
        }

        &-link {
            margin-bottom: 0.2rem;
            color: colors.$search-result-link;
            text-align: left;
            white-space: pre-line;
            overflow-wrap: break-word;
            word-wrap: break-word;
            -ms-word-break: break-all;
            /* This is the dangerous one in WebKit, as it breaks things wherever */
            word-break: break-all;
            /* Instead use this non-standard one: */
            word-break: break-word;
            /* Adds a hyphen where the word breaks, if supported (No Blink) */
            -ms-hyphens: auto;
            -moz-hyphens: auto;
            -webkit-hyphens: auto;
            hyphens: auto;
            transition: all 0.2s;

            &:hover {
                text-decoration: underline;
            }
        }

        &-description {
            text-align: left;
            color: colors.$search-result-description;
            padding-bottom: 0.3rem;
            transition: all 0.3s;

            &:hover {
                color: colors.$search-result-description-hover;
            }
        }
    }
}

//BACK TO TOP BUTTON
.toTop {
    display: none;
    margin-top: 2rem;
}

#footer {
    justify-self: flex-start;
}
