@use "../mixins";
@use "../colors";
@use "../typography";

//SEARCH PAGE
body#search-page {
    background-color: colors.$color-search;
}

.search {
    min-height: 61vh;
    @include mixins.flexCenter(column);
    justify-content: flex-start;

    &-bg {
        @include mixins.flexCenter(column);
        width: 100%;
        background-color: colors.$color-search;
    }

    &__bar {
        min-width: 63%;

        &-term {
            width: 100%;
            padding: 20px 9px 20px 50px;
            height: 20px;
            border-radius: 50px;
            outline: none;
            color: colors.$color-grey-medium;
            border: 1px solid colors.$color-button-border-light;

            &::placeholder {
                color: colors.$search-placeholder-text;
            }

            &:focus {
                color: colors.$text-color-dark-grey;
                box-shadow: 0 0 5px colors.$search-inner-shadow inset;
            }
        }
        &-element {
            @include mixins.flexCenter(row);
            position: relative;
            padding-top: 3rem;
            padding-bottom: 1rem;
            width: 100%;

            &--icon {
                position: absolute;
                left: 15px;
            }
        }
    }
}

//SEARCH RESULT SECTION
.search {
    &__results {
        min-width: 60%;
        padding-top: 1rem;
    }
}

//SERACH RESULTS SECTION links
.match {
    padding: 0.5rem 0.6rem;
    width: 100%;
    transition: all 0.3s;
    display: block;
    color: colors.$text-color-medium-grey;
    border-bottom: 1px solid colors.$search-match-underline;
    border-radius: 5px;

    &:hover {
        border-bottom: 1px solid colors.$color-search;
        background-color: colors.$search-match-hover;
    }
}

//BACK TO TOP BUTTON
.toTop {
    display: none;
    margin-top: 2rem;
}

#footer {
    justify-self: flex-start;
}
