@use "../colors";
@use "../base";
@use "../mixins";

@media (max-width: base.$mobile-break) {
    .cards {
        padding-top: 1rem;
        padding-bottom: 1.1rem;
    }

    .card {
        &__subtitle {
            min-height: 60px;
        }
    }
}
