@use "../colors";
@use "../base";
@use "../mixins";

@media (max-width: base.$mobile-break) {
    .footer {
        padding: 0.5rem 0 1.5rem 0;

        &__wave {
            height: 6vh;
            transform: translateY(1px);
        }
        &__disclaimer {
            padding-right: 2rem;
        }

        &__nav {
            @include mixins.flexCenter(column);
            align-items: flex-start;

            &__links {
                &-link {
                    font-size: 0.7rem;
                    margin-right: 0;
                    margin-bottom: 0.3rem;
                }
            }
        }

        &__disclaimer {
            margin-top: 5rem;
        }
    }
}
