@use "../colors";
@use "../base";
@use "../mixins";

@media (max-width: base.$mobile-break) {
    .footer {
        display: none;
        padding: 0.5rem 0 1.5rem 0;

        &__wave {
            display: none;
            height: 6vh;
        }
        &__disclaimer {
            align-self: flex-end;
            padding-left: 2rem;
            padding-right: 0;
            margin-bottom: 0.1rem;
        }

        &__nav {
            @include mixins.flexCenter(column);
            align-items: flex-start;
            order: 1;

            &__links {
                width: 100%;
                text-align: right;
                &-link {
                    font-size: 0.7rem;
                    margin-bottom: 0.3rem;
                }
            }
        }
    }
}
