@use "../colors";
@use "../base";
@use "../mixins";

@media (max-width: base.$mobile-break) {
    .grid {
        justify-content: center;
        gap: 30px;
    }

    .header-primary {
        height: 80px;
        background-color: colors.$color-header;
    }

    //MOBILE MENU start
    .navigation {
        padding-top: 6rem;
        padding-left: 0;
        padding-right: 0;
        position: relative;
    }
    .header__nav {
        width: 50vw;
        height: 11400px;
        z-index: 10;
        /* inset is a shorthand for top, right, bottom, left for positioning */
        inset: 0 0 0 32%;
        position: fixed;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
        /* using min() function allows to set padding between 2 minimum values, it chooses the smaller one */
        transition: all 0.4s ease-out;
        /* by default the navigation is out of view hidden outside the page */
        transform: translateX(75%);
        background-color: colors.$color-mobile-menu;
        backdrop-filter: blur(7px);
        display: block;
        opacity: 0;

        &--link {
            width: 100%;
            padding: 0.6rem 0;
            padding-right: 20%;
            font-size: 0.9rem;
            text-align: right;

            &:hover {
                background-color: colors.$color-mobile-menu-hover;
            }

            &::after {
                display: none;
            }
        }

        &-left {
            @include mixins.flexCenter(column);
            align-items: flex-start;
        }

        &-right {
            @include mixins.flexCenter(column);
            align-items: flex-start;
        }

        &__profile-picture {
            display: none;
            width: 45px;
            margin-left: 5%;
            position: absolute;
            top: 1.2rem;
        }
    }

    /* if the data-visible attribute is true the menu will become visible by moving into the view */
    .navigation[data-visible="true"] {
        transform: translateX(20%);
        opacity: 1;
    }

    .mobile-toggle {
        cursor: pointer;
        display: block;
        position: absolute;
        z-index: 1000;
        width: 1rem;
        aspect-ratio: 1;
        top: 13px;
        right: 7%;
        border: none;
        background-color: rgba(128, 128, 128, 0.212);
        width: 50px;
        border-radius: 50%;
        position: fixed;
    }

    .hamburger-button {
        fill: whitesmoke;
        width: 24px;
        position: absolute;
        left: 0.8rem;
        top: 0.73rem;
    }

    .header-search {
        background-color: transparent;
        border: none;

        &:hover {
            border-radius: 0px;
        }
    }
}
