@use "../colors";
@use "../base";
@use "../mixins";

@media (max-width: base.$mobile-break) {
    .home {
        &__welcome {
            @include mixins.welcomeResponsive;

            &-left {
                padding: 3rem 0 0 0;
            }

            &__img {
                display: none;
            }

            &__subtitle {
                width: 100%;
                padding-bottom: 0;
                padding-top: 1rem;
            }
        }
    }

    .announcement {
        display: none !important;
    }

    .quickLinks {
        padding: 1rem 2rem 2rem 2rem;
    }
    .news {
        padding: 0 2rem 2rem 2rem;
    }
}
