@use "../colors";
@use "../base";
@use "../mixins";

@media (max-width: base.$mobile-break) {
    .home {
        &__welcome {
            @include mixins.welcomeResponsive;

            &-left {
                padding: 3rem 0 0 0;
            }

            &__img {
                display: none;
            }

            &__subtitle {
                width: 100%;
                padding-bottom: 2rem;
                padding-top: 1rem;
            }
        }
    }

    .favorites,
    .connect {
        padding: 1rem 2rem 2rem 2rem;

        &__subtitle {
            width: 100%;
        }
    }

    .about,
    .grid {
        display: flex;
        flex-direction: column;
    }

    .about {
        padding: 1rem 2rem 2rem 2rem;

        &__top-border {
            margin-bottom: 1rem;
        }

        &__content {
            grid-template-columns: 1fr;
        }

        &__right {
            grid-row: 1;
        }

        &__left {
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &__title {
            padding: 1rem 0 0.5rem 0;
        }

        &__subtitle {
            padding: 0.5rem 0 1rem 0.1rem;
            width: 100%;
        }

        &__image {
            display: block;
            max-width: 230px;
            border-radius: 50%;
        }
    }
}
