@use "../colors";
@use "../base";
@use "../mixins";

@media (max-width: base.$mobile-break) {
    .search {
        width: 100%;
        padding: 0;
        @include mixins.flexCenter(column);
        justify-content: flex-start;

        &__bar {
            width: 76%;
            font-size: 0.4rem;

            &-element {
                padding-top: 1rem;
            }
        }
    }

    .search {
        &__terms-text {
            font-size: 0.6rem;
        }
        &__results {
            width: 100%;
        }
        &__list {
            margin-top: 1.5rem;
            padding-left: 2rem;
            padding-right: 2rem;
            width: 100%;
        }

        &__result {
            height: 100%;
            flex-direction: column;
            align-items: flex-start;
            padding: 0.8rem 0;
            border-bottom: 1px solid colors.$search-match-underline;
            margin-bottom: 1rem;

            &-link {
                white-space: pre-line;
                overflow-wrap: break-word;
                word-wrap: break-word;
                -ms-word-break: break-all;
                /* This is the dangerous one in WebKit, as it breaks things wherever */
                word-break: break-all;
                /* Instead use this non-standard one: */
                word-break: break-word;
                /* Adds a hyphen where the word breaks, if supported (No Blink) */
                -ms-hyphens: auto;
                -moz-hyphens: auto;
                -webkit-hyphens: auto;
                hyphens: auto;
                color: whitesmoke;
            }

            &-description {
                text-align: left;
                color: gray;
            }
        }
    }

    .match {
        font-size: 0.8rem;
    }

    .toTop {
        &--link {
            margin-right: -1.5rem;
            border-radius: 100px;
            transition: all 0.3s;
            border: 1px solid colors.$color-button-border-light;
            padding: 0.6rem 0.9rem;
            float: right;
        }
    }
}
