@use "../colors";
@use "../base";
@use "../mixins";

@media (max-width: base.$mobile-break) {
    .search {
        padding: 0;
        &__bar {
            padding-top: 2rem;
            width: 76%;
            font-size: 0.4rem;

            &-element {
                padding-top: 0.8rem;
                margin-right: 0.1rem;
            }
        }

        &__list {
            width: 100%;
            @include mixins.flexCenter(column);
        }

        &__results {
            padding-top: 0;
            padding-bottom: 1rem;
        }
    }

    .match {
        font-size: 0.8rem;
        width: 120%;
    }

    .toTop {
        &--link {
            margin-right: -1.5rem;
            border-radius: 100px;
            transition: all 0.3s;
            border: 1px solid colors.$color-button-border-light;
            padding: 0.6rem 0.9rem;
            float: right;
        }
    }
}
