@use "../colors";
@use "../base";
@use "../mixins";

@media (max-width: base.$mobile-break) {
    .search {
        width: 100%;
        padding: 0;
        @include mixins.flexCenter(column);
        justify-content: flex-start;

        &__bar {
            width: 76%;
            font-size: 0.4rem;

            &-element {
                padding-top: 1rem;
            }
        }

        &__results {
            min-width: 75%;
            justify-content: center;
            align-items: center;
            padding-bottom: 3rem;
        }

        &__list {
            text-align: center;
        }
    }

    .match {
        font-size: 0.8rem;
    }

    .toTop {
        &--link {
            margin-right: -1.5rem;
            border-radius: 100px;
            transition: all 0.3s;
            border: 1px solid colors.$color-button-border-light;
            padding: 0.6rem 0.9rem;
            float: right;
        }
    }
}
