<div class="card">
    <div class="card-top card-cyan">
        <h5 class="card__title">GitHub</h5>
    </div>
    <div class="card-bottom">
        <p class="card__subtitle">
            My GitHub account where you will find my public repos. Feel free to use the available code.
        </p>
        <div class="card__button-area">
            <button class="card__button button button-cyan">
                <a class="card__button-link" href="https://github.com/CodeD3vil" target="blank">See what`s new</a>
            </button>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-top card-cyan">
        <h5 class="card__title">LinkedIn</h5>
    </div>
    <div class="card-bottom">
        <p class="card__subtitle">
            Connect with me or just have a look at my LinkedIn account where you can find out more.
        </p>
        <div class="card__button-area">
            <button class="card__button button button-cyan">
                <a
                    class="card__button-link"
                    href="https://www.linkedin.com/in/tomas-krajcovic-68608823b/"
                    target="blank"
                    >connect with me</a
                >
            </button>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-top card-cyan">
        <h5 class="card__title">Facebook</h5>
    </div>
    <div class="card-bottom">
        <p class="card__subtitle">
            Here you can see even more about me and my passion for web design and web development.
        </p>
        <div class="card__button-area">
            <button class="card__button button button-cyan">
                <a class="card__button-link" href="https://www.facebook.com/I.tomas.krajcovic" target="blank"
                    >Let's be friends</a
                >
            </button>
        </div>
    </div>
</div>
