<div class="card">
    <div class="card-top card-cyan">
        <h5 class="card__title">Dribbble</h5>
    </div>
    <div class="card-bottom">
        <p class="card__subtitle">Most likely the best place to start when looking for new ideas for any project.</p>
        <div class="card__button-area">
            <button class="card__button button button-cyan">
                <% for (let i = 0; i < urlLinks.length; i ++) { %> <% if (urlLinks[i].name === 'Dribbble') { %>
                <a class="card__button-link" href="<%=urlLinks[i].link %>" target="blank">Go there</a>
                <% } %> <%} %>
            </button>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-top card-cyan">
        <h5 class="card__title">Pinterest</h5>
    </div>
    <div class="card-bottom">
        <p class="card__subtitle">Pinterest is another great place to find your next favorite design.</p>
        <div class="card__button-area">
            <button class="card__button button button-cyan">
                <% for (let i = 0; i < urlLinks.length; i ++) { %> <% if (urlLinks[i].name === 'Pinterest') { %>
                <a class="card__button-link" href="<%=urlLinks[i].link %>" target="blank">Go there</a>
                <% } %> <%} %>
            </button>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-top card-cyan">
        <h5 class="card__title">Behance</h5>
    </div>
    <div class="card-bottom">
        <p class="card__subtitle">This site is very similar to Dribble with even more amazing designs.</p>
        <div class="card__button-area">
            <button class="card__button button button-cyan">
                <% for (let i = 0; i < urlLinks.length; i ++) { %> <% if (urlLinks[i].name === 'Behance') { %>
                <a class="card__button-link" href="<%=urlLinks[i].link %>" target="blank">Go there</a>
                <% } %> <%} %>
            </button>
        </div>
    </div>
</div>
