<div class="card-1 card">
    <div class="card-1-top card-darkBlue">
        <h5 class="card-1__title card__title">Mockup Tree</h5>
    </div>
    <div class="card-1-bottom">
        <p class="card-1__subtitle card__subtitle">
            So many mockups to look at. Very large selection to download and use freely.
        </p>
        <div class="card-1__button-area button-area">
            <button class="card-1__button button card__button button-blue">
                <a class="card__button-link" href="<%=urlLinks.Mockup_Tree %>" target="blank">go</a>
            </button>
        </div>
    </div>
</div>

<div class="card-1 card">
    <div class="card-1-top card-darkBlue">
        <h5 class="card-1__title card__title">Mockup World</h5>
    </div>
    <div class="card-1-bottom">
        <p class="card-1__subtitle card__subtitle">
            More free mockups to chose from. Again, a great place to find them.
        </p>
        <div class="card-1__button-area button-area">
            <button class="card-1__button button card__button button-blue">
                <a class="card__button-link" href="<%=urlLinks.Mockup_World %>" target="blank">go</a>
            </button>
        </div>
    </div>
</div>

<div class="card-1 card">
    <div class="card-1-top card-darkBlue">
        <h5 class="card-1__title card__title">Unblast Mockups</h5>
    </div>
    <div class="card-1-bottom">
        <p class="card-1__subtitle card__subtitle">One more place with yet another vast selection of free resources.</p>
        <div class="card-1__button-area button-area">
            <button class="card-1__button button card__button button-blue">
                <a class="card__button-link" href="<%=urlLinks.Unblast_Mockups %>" target="blank">go</a>
            </button>
        </div>
    </div>
</div>
