<div class="card">
    <div class="card-top card-yellow">
        <h5 class="card__title">Lapa Ninja</h5>
    </div>
    <div class="card-bottom">
        <p class="card__subtitle">Have a look at these awesome websites and get inspired for your next project.</p>
        <div class="card__button-area">
            <button class="card__button button button-yellow">
                <a class="card__button-link" href="<%=urlLinks.Lapa_Ninja %>" target="blank">go</a>
            </button>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-top card-yellow">
        <h5 class="card__title">Land-Book</h5>
    </div>
    <div class="card-bottom">
        <p class="card__subtitle">Another source of complete websites and designs to learn from.</p>
        <div class="card__button-area">
            <button class="card__button button button-yellow">
                <a class="card__button-link" href="<%=urlLinks.Land_Book %>" target="blank">go</a>
            </button>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-top card-yellow">
        <h5 class="card__title">Webflow</h5>
    </div>
    <div class="card-bottom">
        <p class="card__subtitle">Discover inspiring websites built by the Webflow community.</p>
        <div class="card__button-area">
            <button class="card__button button button-yellow">
                <a class="card__button-link" href="<%=urlLinks.Webflow %>" target="blank">go</a>
            </button>
        </div>
    </div>
</div>
