@use "../colors";
@use "../typography";
@use "../mixins";

//GLOBAL CARD STYLES

//cards container
.cards {
    padding-top: 2rem;
    justify-items: center;
}

.card {
    width: 100%;
    max-width: 408px;
    box-shadow: 3px 3px 5px 1px colors.$shadow-color;
    position: relative;
    overflow: hidden;
    background-color: colors.$card-bg-color;
    border-radius: 10px;
    transition: all 0.5s;

    &-top {
        padding: 2em 1.8em;
    }

    &__title {
        height: 100%;
        color: colors.$text-color-white;
        font-size: clamp(1rem, 4vw, 1.3rem);
    }

    &__subtitle {
        color: colors.$color-dark-grey;
        font-size: clamp(0.8rem, 3vw, 0.9rem);
        padding: 1.8em;
        color: colors.$color-blue-grey;
        min-height: 80px;
    }

    &__button-area {
        @include mixins.flexCenter(column);
        &::after {
            position: absolute;
            content: "";
            left: 5%;
            bottom: 24%;
            height: 1px;
            width: 89%;
            background-color: colors.$card-underline-color;
        }
    }

    &__button {
        width: 90%;
    }

    &:hover {
        transform: translateY(-2px);
        box-shadow: 3px 5px 16px 1px colors.$shadow-color;
    }
}

//CARD TOP COLOR STYLES
.card-cyan {
    background-image: colors.$gradient-cyan;
}

.card-blue {
    background-color: colors.$color-dark-blue;
}

.card-yellow {
    background-image: colors.$gradient-yellow;
}
