@use "../colors";
@use "../typography";
@use "../mixins";

//title, subtitle, yellow top
.card-3 {
    &__title {
        padding-left: 0.3rem;
    }

    &__subtitle {
        padding: 1.7em;
        min-height: 80px;
        padding-bottom: 0.6rem;
        color: colors.$color-blue-grey;
    }

    &__name,
    &__email {
        padding-left: 1.4em;
    }

    &__button-area {
        @include mixins.flexCenter(column);
        &::after {
            position: absolute;
            content: "";
            left: 5%;
            bottom: 25%;
            height: 1px;
            width: 90%;
            background-color: colors.$card-underline-color;
        }
    }

    &__button {
        width: 90%;
    }
}
