<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Web Design | Search</title>
        <script src="../../public/js/search.js" defer></script>
        <%- include('../partials/head.ejs') %>
    </head>
    <body id="search-page">
        <!-- HEADER start -->
        <%- include('../partials/header.ejs') %>
        <!-- HEADER end-->
        <main>

                    </div>
                </div>
            </div>
            <!-- SEARCH BAR end -->

            <!-- SEARCH SECTION start -->
            <section class="search section" id="search">
                <!-- SEARCH RESULTS start -->
                <div id="search__results" class="search__results">
                    <%- include('../partials/searchLinks.ejs') %>
                    <div class="toTop">
                        <a href="#" class="toTop--link"
                            ><img class="toTop--link-icon" src="../../public/img/arrow.svg" alt="" />
                        </a>
                    </div>
                </div>

                <!-- SEARCH RESULTS end -->
            </section>
            <!-- SEARCH SECTION end-->
            <!-- FOOTER start-->
            <div id="footer"><%- include('../partials/footer.ejs') %></div>
            <!-- FOOTER end-->
        </main>
    </body>
</html>
